{% extends 'usuario/base.html' %}
{% load static %}

{% block titulo %} Filmix_Registrarse {% endblock titulo %}

{% block main1 %}

    <div class="container">

        <form action="{% url 'registrarse' %}" method="POST" id="form-registrar">
            <div class="container-form">
                <img src="{% static 'usuario/img/logo/logo_vertical.png' %}" class="logo-form" alt="">

                {% csrf_token %}

                {% if mensaje %}
                
                <div class="alerta-1">
                    {{mensaje}}
                </div>

                {% endif %}

                {{formulario_1}}

                <button type="submit" class="btn-form"> Registrarse </button>

                <p>Al registrarte, aceptas nuestras condiciones de uso y política de privacidad.</p>
                <p>¿Ya tienes una cuenta? <a href="{% url 'inicio_sesion' %}" class="link-form">Iniciar sesión</a></p>
            </div>
        </form>
    </div>


{% endblock main1 %}
