Filmix_django/__pycache__
usuario/__pycache__
administracion/__pycache__
usuario/__pycache__
usuario/migrations/__pycache__
administracion/migrations/__pycache__
usuario/__pycache__/views.cpython-310.pyc
usuario/__pycache__/formulario_registrarse.cpython-310.pyc
usuario/__pycache__/urls.cpython-310.pyc
usuario/__pycache__/views.cpython-310.pyc
