{% extends 'administracion/base.html' %}
{% load static %}

{% block titulo %} Agregar funcion {% endblock titulo %}

{% block main %}
<section class="d-flex justify-content-center">
    <div class="row col-sm-10 card mb-5">

        <form action="{% url 'funciones_agregar' %}" id="form_pelicula" name="form_pelicula" method="POST" enctype="multipart/form-data">
            <h3 class="text-center mt-3">Agregar funciones de una pelicula</h3>
            {% csrf_token %}
            {% comment %} {% include "administracion/peliculas/form.html" %} {% endcomment %}
            {{funcion_form}}
            <hr>
            <div class="d-flex justify-content-center  mb-3">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</section>


{% endblock main %}
