{% extends 'administracion/base.html' %}
{% load static %}

{% block titulo %} Horarios {% endblock titulo %}

{% block main %}
    <section>
        <div class="container row justify-content-center">
            <div class="titulo">
                <h1>Horarios</h1>
            </div>
            <div class="row col-sm-6 card mb-5 d-flex justify-content-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Pelicula</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{funcion.fecha}}</td>
                            <td>{{funcion.pelicula}}</td>
                        </tr>
                    </tbody>
                </table>
        
                <div class="row col-sm-6 card mb-5">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hora in horas %}
                                <tr>
                                    <td>{{hora.hora}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a name="" id="" class="btn btn-success" href="{% url 'horarios_agregar' funcion.id %}" role="button"> <i class="fa-solid fa-circle-plus"></i> Nuevo</a>                
                </div>
            </div>
        </div>
    </section>
    <div class="modal" tabindex="-1" id="modal_peliculas">
        <div class="modal-dialog  modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Seleccione una pelicula</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Pelicula</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% comment %} {% for pelicula in peliculas %}
                                <tr>
                                    <td>{{pelicula.id}}</td>
                                    <td>{{pelicula.nombre}}</td>
                                    <td>
                                        <button class="btn btn-success btn-sm" onclick="seleccionarPeli('{{pelicula.id}}', '{{pelicula.nombre}}');"><i class="fa-solid fa-check"></i></button>
                                    </td>
                                </tr>
                            {% endfor %} {% endcomment %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

{% endblock main %}

{% comment %} <script src="./js/cartelera.js"></script> {% endcomment %}