<div class="row justify-content-md-center">
    <div class="col-sm">
        <div class="mb-3">
            <label for="" class="form-label">{{pelicula_form.nombre.label}}</label>
            {{pelicula_form.nombre}}
        </div>
        <div class="mb-3">
            <label for="" class="form-label">{{pelicula_form.descripcion.label}}</label>
            {{pelicula_form.descripcion}}
        </div>
        <div class="mb-3">
            <label for="" class="form-label">{{pelicula_form.trailer.label}}</label>
            {{pelicula_form.trailer}}
        </div>
    </div>
    <div class="col-sm">
        <div class= "mb-3">
            <label for="" class="form-label">{{pelicula_form.imagen.label}}</label>
            {{pelicula_form.imagen}}
        </div>
        <img src="./" alt="">
    </div>
</div>
