{% extends 'administracion/base.html' %}
{% load static %}

{% block titulo %} Peliculas {% endblock titulo %}

{% block main %}
    <section id="section_peliculas">
        <div class="container row justify-content-center">
            <div class="titulo">
                <h1>Peliculas</h1>
            </div>
            <div class="row col-sm-10 card mb-5">
                <a name="" id="" class="btn btn-success" href="{% url 'peliculas_agregar' %}" role="button"> <i class="fa-solid fa-circle-plus"></i> Nuevo</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            {% comment %} <th>Poster</th> {% endcomment %}
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pelicula in peliculas %}
                            <tr>
                                <td>{{pelicula.id}}</td>
                                <td>{{pelicula.nombre}}</td>
                                {% comment %} <td><img src="..{{pelicula.poster.url}}" alt="">/../..{{pelicula.poster.url}}</td> {% endcomment %}
                                <td>
                                    <a href="{% url 'peliculas_editar' pelicula.id %}" title="Editar" class="btn btn-primary"><i class="fas fa-pencil"></i></a>
                                    <a href="{% url 'peliculas_eliminar' pelicula.id %}" title="Eliminar" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>


{% endblock main %}

{% comment %} <script src="./js/cartelera.js"></script> {% endcomment %}